@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.fadeIn {
  opacity: 0;
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp ease 1.5s;
  -webkit-animation: fadeInUp ease 1.5s;
  -moz-animation: fadeInUp ease 1.5s;
  -o-animation: fadeInUp ease 1.5s;
  -ms-animation: fadeInUp ease 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.9s;
}

.delay-2 {
  animation-delay: 1.3s;
}

.delay-3 {
  animation-delay: 1.7s;
}

.delay-4 {
  animation-delay: 2.1s;
}

.delay-5 {
  animation-delay: 2.5s;
}

.banner {
  background-color: #d3bba1;
  transform: skew(0deg, -5deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #000000, #ffffff);
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media (max-width: 862px) {
  #sideArt {
    display: none;
  }
}
.section {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #000000;
  overflow: hidden;
}
.section .adjust-content {
  margin-top: -75px !important;
}
.section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.section #secondary-logo {
  display: none;
}
@media (max-width: 992px) {
  .section {
    height: 110vh;
    padding-top: 3px;
    padding-bottom: 90px;
  }
  .section .adjust-content {
    margin-top: 0 !important;
  }
  .section #secondary-logo {
    display: block;
  }
  .section #primary-logo {
    display: none;
  }
  .section img {
    max-width: 190px !important;
  }
}

.section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}

.section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1548878582-59ec94281735?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
}
@media (max-width: 400px) {
  .intro {
    height: 100vh;
  }
}

.merge-left {
  margin-left: -85px;
}
@media (max-width: 992px) {
  .merge-left {
    margin-left: 0;
  }
  .merge-left img {
    height: 350px !important;
    width: 350px !important;
  }
}

.navigation {
  height: 70px;
  background: rgba(244, 244, 244, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.navigation .nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.navigation .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.navigation .brand:hover {
  cursor: pointer;
}
.navigation .brand a,
.navigation .brand a:visited {
  color: #000;
  text-decoration: none;
}
.navigation nav {
  float: right;
}
.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation nav ul li {
  float: left;
  position: relative;
}
.navigation nav ul li a {
  display: block;
  padding: 8px 18px 0 18px;
  line-height: 50px;
  background: inherit;
  color: #000;
  text-decoration: none;
}
.navigation nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #d3bba1;
  width: 0%;
  bottom: 0px;
}
.navigation nav ul li a:hover::before {
  width: 70%;
}
.navigation nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.navigation nav ul li ul li {
  min-width: 190px;
}
.navigation nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navigation .nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  height: auto;
  padding: 5px;
  background: rgba(244, 244, 244, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.navigation .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 992px) {
  .navigation .nav-mobile {
    display: block;
  }
  .navigation nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  .navigation nav ul {
    display: none;
    height: auto;
    background: rgba(244, 244, 244, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .navigation nav ul li {
    float: none;
  }
  .navigation nav ul li a {
    padding: 15px;
    line-height: 18px;
  }
  .navigation nav ul li a:hover::before {
    width: 20%;
  }
  .navigation nav ul li a.btn-brown {
    background-color: #d3bba1 !important;
    color: #000 !important;
    margin-top: 3px;
    max-width: 75px;
    text-decoration: none;
    padding: 15px;
    line-height: 18px;
    margin-left: 12px;
  }
  .navigation nav ul li a.btn-brown:hover::before {
    width: 0%;
  }
  .navigation nav ul li ul li a {
    padding-left: 30px;
  }
  .navigation .nav-dropdown {
    position: static;
  }
}
.navigation #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
.navigation #nav-toggle span,
.navigation #nav-toggle span:before,
.navigation #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #d3bba1;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.navigation #nav-toggle span:before {
  top: -10px;
}
.navigation #nav-toggle span:after {
  bottom: -10px;
}
.navigation #nav-toggle.active span {
  background-color: transparent;
}
.navigation #nav-toggle.active span:before, .navigation #nav-toggle.active span:after {
  top: 0;
}
.navigation #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.navigation #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 992px) {
  .navigation .nav-list {
    display: block !important;
  }
}

.text-brown {
  color: #d3bba1;
}

.btn-brown {
  background-color: #d3bba1 !important;
  color: #000 !important;
  margin-top: 3px;
}

.img-adjust {
  height: 450px;
  width: 450px;
}
@media (max-width: 992px) {
  .img-adjust {
    max-height: 325px;
    max-width: 325px;
  }
}

.bg-dark-section-1 {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("../images/empowerment.jpg") no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  margin-top: 115px;
  color: #000;
  display: flex;
  margin-bottom: 7rem;
}
.bg-dark-section-1 iframe {
  color: #000;
  margin-top: -45px !important;
}
.bg-dark-section-1 img {
  color: #000;
  margin-top: -5px !important;
  height: 387px;
  width: 80%;
}
.bg-dark-section-1 div > p {
  margin-top: 175px !important;
  color: white;
}

.bg-dark-section-2 {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("../images/empowerment.jpg") no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #000;
  display: flex;
  margin-bottom: 4rem;
}
.bg-dark-section-2 iframe {
  color: #000;
  margin-top: -45px !important;
}
.bg-dark-section-2 img {
  color: #000;
  margin-top: -15px !important;
  height: 387px;
  width: 80%;
}
.bg-dark-section-2 div > p {
  padding-top: 95px;
  padding-bottom: 35px;
  color: white;
}
@media (max-width: 767px) {
  .bg-dark-section-2 {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("../images/empowerment.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .bg-dark-section-2 iframe {
    color: #000;
    margin-top: 15px !important;
  }
  .bg-dark-section-2 img {
    color: #000;
    margin-top: 15px !important;
    height: 350px;
    width: 80%;
  }
  .bg-dark-section-2 div > p {
    margin-top: -15px !important;
    color: white;
  }
}

.bg-dark-section-3 {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("../images/empowerment.jpg") no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #000;
  display: flex;
  margin-bottom: 4rem;
}
.bg-dark-section-3 iframe {
  color: #000;
  margin-top: -45px !important;
}
.bg-dark-section-3 img {
  color: #000;
  margin-top: -15px !important;
  height: 350px;
  width: 80%;
}
.bg-dark-section-3 div > div > p {
  padding-top: 25px;
  padding-bottom: 5px;
  color: white;
}
@media (max-width: 767px) {
  .bg-dark-section-3 {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("../images/empowerment.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .bg-dark-section-3 iframe {
    color: #000;
    margin-top: 15px !important;
  }
  .bg-dark-section-3 img {
    color: #000;
    margin-top: 20px !important;
    padding-bottom: -30px;
    height: 350px;
    width: 80%;
  }
  .bg-dark-section-3 div > p {
    margin-top: 35px !important;
    color: white;
  }
}

.brown-vertical-line {
  border-left: 4px solid saddlebrown;
  height: 1200px;
}
.brown-vertical-line .brown-label {
  background-color: saddlebrown;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.brown-horizontal-line {
  border-left: 4px solid saddlebrown;
  height: auto;
}
.brown-horizontal-line .brown-label {
  background-color: saddlebrown;
  padding: 10px;
  width: 110px;
  margin-left: -20px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}
.brown-horizontal-line .brown-label .light-brown {
  color: #f5deb3;
}

/*# sourceMappingURL=main.css.map */
