<div class='air air1'></div>
<div class='air air2'></div>
<div class='air air3'></div>
<div class='air air4'></div>
<section class="container adjust-content">
    <section class="row justify-content-center flex-row-reverse d-flex align-items-center height text-white">
        <div class="col-lg-5 mb-lg-0 mb-3" id="primary-logo">
            <img src="/assets/intro-image.png" id="primary-logo" class="img-fluid w-100" alt="main logo" />
            <img src="/assets/logo.png" id="secondary-logo" class="img-fluid w-100" alt="main logo" />
        </div>
        <div class="col-lg-7 mb-lg-0 mb-3">
            <h1 class="display-4 fadeIn text-black-50 fw-bold">Empower GenNOW</h1>
            <p class="fadeIn delay-1 text-black small fw-bold delay-1">
                A nonprofit organization that supports young professionals in Greater Cincinnati. We empower our members through offering professional development, training, job placement, and opportunities to lead, mentor & network.
            </p>
            <a href="#!" class="btn fadeIn delay-2 btn-outline-dark">Checkout Our Fundraiser Campaigns</a>
        </div>
    </section>
</section>