<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <section class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center mb-7">
                <h1 class="display-2 mb-4"><span class="fw-lighter">About</span> <span class="fw-bold">Us</span></h1>
                <p class="lead mb-4">
                    Since 2015, our 501C(3) nonprofit has been preparing young professionals in Greater Cincinnati for its diverse and
                    inclusive workforce. One that will ensure equitable, sustainable economic growth.
                </p>
                <p class="lead">
                    We achieve our mission through professional development, training, job placement, and opportunities to lead,
                    mentor & network.
                </p>
            </div>
            <div class="col-12 mb-4">
                <h2 class="h1 mb-2">Our Mission</h2>
                <p>
                    To provide world-class networking, mentorship, career training, and resources to help young professionals succeed.
                </p>
            </div>
            <div class="col-12 mb-4">
                <h2 class="h1 mb-2">Our Ideals</h2>
                <p>
                    We value the inclusivity of diverse people regardless of the background or experience. Transformation through professional
                    development, and in our community. Putting people first in all we do.
                </p>
            </div>
            <div class="col-12 mb-4">
                <h2 class="h1 mb-2">Our Purpose</h2>
                <p class="h4 mb-2">
                    What is going on in Cincinnati?
                </p>
                <ul>
                    <li>
                        <h3 class="h5">Unemployment</h3>
                        <ul>
                            <li>
                                <p>
                                    The unemployment rate in Cincinnati has dropped each year since 2016 (except the COVID-related hike). We need to keep it down.
                                    We must also close the racial gap, e.g., the unemployment rate between black people is twice that among whites.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="h5">Diversity, Equity, Inclusion</h3>
                        <ul>
                            <li>
                                <p>
                                    Diversity is a driver of economic growth.A recent study found that Black-owned businesses in Cincinnati contribute over $2.1 billion to the local
                                    economy. Yet, Cincinnati ranks 17th out of 22, on Diversity, Equity & Inclusion (DEI) indicators. Our relationship lacks diversity too. Cincinnati ranks
                                    19th of 22 in C-suite racial diversity and 26th of 22 in C-suite gender diversity. Our area is becoming ever more diverse. We are looking for trouble if
                                    we leave it horribly unequal.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="h5">Conductive for Youth</h3>
                        <ul>
                            <li>
                                <p>
                                    Forbes ranked Cincinnati the best place for young professionals to live, out of 100 metro areas considered. Cincinnati ranks 6th on median rent as a
                                    percentage of individual income and 7th on median home costs as a percentage pf household income. We must keep our young here and attract the
                                    best talent.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="h5">For Future Leaders of Cincinnati</h3>
                        <ul>
                            <li>
                                <p>
                                    Greater Cincinnati needs strong, united leaders. GenNOW's equips young professionals with the connections and knowhow they need to become fine
                                    leaders. We provide them with resources they need to success, regardless of beackground or experience. And we bring them together as a diverse yet
                                    inclusive community.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <h4 class="h2 mb-3 fw-bold">Our Story</h4>
                <p class="mb-5">
                    Nine years ago, GenNOW Cincinnati was stated by young professionals for young professionals. Here's how we have grown:
                </p>
                <div class="row brown-horizontal-line">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2015</span>
                        </div>
                        <p class="p-4">
                            Founder & CEO Renika J. Smiley starts Empower GenNOW Cincinnati network.
                            4-member board identifies young professionals' challenges and hosts Happy Hour events,
                            at rented facilities, to talk heart-to-heart with local youth. Events average 50 attendees.
                            Discussions lead to:
                            <ul>
                                <li>
                                    Network of 1,000+ young professionals
                                </li>
                                <li>
                                    8 programs for professional development
                                </li>
                                <li>
                                    $15,000 for funding those programs
                                </li>
                                <li>
                                    Launch of Top 10 List awards to recognize young professionals for professional excellence and public service 100 awardees.
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/about-section-1.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2016</span>
                        </div>
                        <p class="p-4">
                            2,000+ young professionals. <br>
                            We collaborate with local businesses to host events at their
                            workplaces instead of rented facilities; thus, we cut costs. <br>
                            We add:

                        <ul>
                            <li>
                                4 Board Members
                            </li>
                            <li>
                                2 committees to guide us on professional development programs and executive initiatives.
                            </li>
                            <li class="mb-2">
                                10 volunteers
                            </li>
                            <li class="list-unstyled">
                                Mayor John Cranley publicly congratulates us for our Believe Youth Conference. 75 attend this
                                conference for young professionals.
                            </li>
                        </ul>

                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/about-section-2.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2017</span>
                        </div>
                        <p class="p-4">
                            3,000+ young professionals. <br>
                            We enforce internal resources, recruit new sponsors, and add workshops. <br>
                            Key achievements:

                        <ul>
                            <li>
                                $25,000+ in sponsorships
                            </li>
                            <li>
                                New sponsors include P&G, 84.51, and Kroger`s.
                            </li>
                            <li>
                                New programs, workshops, and social events such as Cross-Cultural Communication, Conflict Management,
                                Networking, Leadership Development, and Diversity & Inclusion.
                            </li>
                            <li>
                                Workshops average 100 participants.
                            </li>
                        </ul>

                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/about-section-3.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2018</span>
                        </div>
                        <p class="p-4">
                            5,000+ young professionals. <br>
                            We invest in planning & redvelopment to pinpoint training programs that equip young candidates with in-demand skills (e.g., soft skills, leadership, diversity & inclusion)


                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/section-4-image.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2019</span>
                        </div>
                        <p class="p-4">
                            We identify key stakeholders for our board.
                            Board outline strategies in harmony with our values serve young professionals.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="https://placehold.co/600x400" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2020</span>
                        </div>
                        <p class="p-4">
                            To get around COVID-19 restrictions, we start online courses and workshops.
                            <ul>
                                <li>
                                    300 attendees participated at our virtual events.
                                </li>
                                <li class="list-unstyled">
                                    35 Catchafire volunteers supported our initiative through a grant from the Catchafire Organization.
                                    <br>
                                    Paycor, Saint Elizabeth Helathcare and P&G sponsored our events and services.
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/section-5-image.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2021</span>
                        </div>
                        <p class="p-4">
                            3000 attendees particpated or viewed GENNOW events. <br>
                            Expanded our board from 3 to 15 members, <br>
                            Submitted a new trademark: Empower GENNOW Network. <br>
                            Raised $150,000 in funds and donated items. <br>
                            Pivoted our program into a Technology Membership Nonprofit.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/section-6-image.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2022</span>
                        </div>
                        <p class="p-4">
                            Added 7 members to Generation Now's Board of Directors. <br>
                            Finished the Ohio Community Development Corporation's Social Enterprise Incubation
                            Program (SEIP), an 11-month training program for OCDCA members. <br>
                            Won an $8,000 pitch competition at the OCDCS's Annual Conference.
                            <br>
                            Became a United Way of Greater Cincinnati systems change partner, joining a cohort of 80+ Cincinnati nonprofits.
                            <br>
                            Raised $210,000 in 2022, $70,000 more than our 2021 fundraising total. <br>
                            We are also now funded by the Greater Cincinnati Foundation.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/section-7-image.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2023</span>
                        </div>
                        <p class="p-4">
                            Fundraising totaled $230,000, an increase of nearly 10 percent from the $210,000 raised in 2022.
                            <br>
                            We launched Cohort 1 of Advance NOW, which is a 12-week professional development training program offered to African-American women.
                            <br>
                            We hosted a Boss Babes Entrepreneur event attended by more than 500 African American women business owners.
                            <br>
                            We sponsored the Cincy Choice Awards to highlight young professional black business owners in Cincinnati.
                            <br>
                            Our first event of the year, How to Remain Authentic in a World of Corporate Policitics, was attended by more than 100 young professionals for a program led by human resources expert and career strategist Andrea Watkins.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/assets/section-8-image.png" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                    <hr class="my-4 w-75 mx-auto">
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <div class="brown-label">
                            <span class="light-brown">2024</span>
                        </div>
                        <p class="p-4">
                            Stay tuned.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="https://placehold.co/600x400" class="h-100 w-100 shadow-6-strong rounded-5" alt="the owner and board members from the start">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>