<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body class="area">
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<header>
    <%- include("layouts/navbar") -%>
</header>

<main style="padding-top: 10px;">
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-6">
            <div class="col-lg-10 text-center">
                <h1 class="text-black fw-bold display-4"><span class="text-black-50">Gallery</span> Page</h1>
            </div>
        </div>
        <section class="row justify-content-center mb-6">
            <div class="col-lg-3 col-md-6 hover-zoom mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
        </section>
        <section class="row justify-content-center mb-6">
            <div class="col-lg-3 col-md-6 hover-zoom mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <a href="#!" class="bg-image hover-zoom">
                    <img src="https://placehold.co/600x400" class="img-fluid" alt="">
                </a>
            </div>
        </section>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>