<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header class="mb-9">
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row mb-7 justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="mb-3 display-4 fw-bold">Workshops On Leadership</h1>
                <p class="lead mb-5">
                    Learn Strategies On Career Development & Leadership At Our Workshops,
                    Conducted By Career & Leadership Strategist Dr. Monique C. Johnson.
                </p>
                <h6>
                    Earn certificates of completion too!
                </h6>
                <i class="lead">
                    Members get 1 free workshop per year and enjoy discounts on other workshops.
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <h2 class="mb-5">Upcoming Workshops</h2>
                <p class="h4 mb-3">
                    Inclusive Leadership: How To Lead an Inclusive Workforce
                </p>
                <p>
                    This 00-day training covers:
                </p>
                <ol>
                    <li>
                        Becoming aware of biased habits
                    </li>
                    <li>
                        Cross-culture communication
                    </li>
                    <li>
                        Professional development training
                    </li>
                    <li>
                        A diversity & inclusion leadership project
                    </li>
                </ol>
                <p>
                    <strong>Fee:</strong> Members: free (if 1st workshop of the year) or $000; Non-Members - $000
                </p>
                <p>
                    <strong>Tentative Dates:</strong> To Be Announced
                </p>
                <p>
                    <strong>Venue:</strong> TBD (in-person)
                </p>
            </div>
            <div class="col-12 mb-6">
                <p class="h4 mb-3">
                    Overcoming Leadership Barriers as a POC
                </p>
                <p>
                    This 00-day training shows you how to:
                </p>
                <ol>
                    <li>
                        Give young POC a voice
                    </li>
                    <li>
                        Create a project to increase awareness of issues faced by POC
                    </li>
                    <li>
                        Overcome barriers so you can achieve long-term career success.
                    </li>
                </ol>
                <p>
                    <strong>Fee:</strong> Members: free (if 1st workshop of the year) or $000; Non-Members - $000
                </p>
                <p>
                    <strong>Tentative Dates:</strong> To Be Announced
                </p>
                <p>
                    <strong>Venue:</strong> TBD (in-person)
                </p>
            </div>
            <div class="col-12 mb-6">
                <p class="h4 mb-3">
                    How to Lead as a Woman of Color
                </p>
                <p>
                    This 00-day training shows you how to:
                </p>
                <ol>
                    <li>
                        Leadership development for women of color
                    </li>
                    <li>
                        Overcoming challenges at your workplace
                    </li>
                    <li>
                        You can also enjoy job recruitment and mentorship opportunities.
                    </li>
                </ol>
                <p>
                    <strong>Fee:</strong> Members: free (if 1st workshop of the year) or $000; Non-Members - $000
                </p>
                <p>
                    <strong>Tentative Dates:</strong> To Be Announced
                </p>
                <p>
                    <strong>Venue:</strong> Online
                </p>
            </div>
            <div class="col-12">
                <h3 class="h1 mb-3">NOTE</h3>
                <p class="mb-6">
                    Members enjoy free and discounted leadership workshops and courses, and attend networking events. So,
                    check out our Membership Plans.
                </p>
                <p class="text-end">
                    We add courses all the time. Check back often.
                </p>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>