<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header>
    <%- include("layouts/navbar") -%>

</header>

<main>
<!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>Page Not Found</h1>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>