<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>
<!-- header and navbar -->
<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-7">
            <div class="col-12 text-center">
                <h1 class="display-4">Our <span class="fw-bold">Board</span></h1>
            </div>
        </div>
        <section class="row justify-content-center mb-5">
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/reinika_smiley.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Reinka J. Smiley</h4>
                        <p class="card-text">
                            <span class="fw-light">Founder & CEO</span> <br>
                            <strong>Generation NOW</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/alandes_powell.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Alandas Powell</h4>
                        <p class="card-text">
                            <span class="fw-light">Vice Chiarwoman</span> <br>
                            <strong>
                                Founder & Executive Director, Black Arts Speak
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/russel_whitney.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Russel Whitney</h4>
                        <p class="card-text">
                            <span class="fw-light">Board Chair</span> <br>
                            <strong>People Business Partner (HRBP)</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="row justify-content-center mb-5">
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/greggory_pizzaro.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Gregory Pizzaro</h4>
                        <p class="card-text">
                            <span class="fw-light">Co-Founder & Board Member</span> <br>
                            <strong>
                                Managing Parter, Glenhouse Strategies
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/jonathan_mardis.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Jonathn Mardis</h4>
                        <p class="card-text">
                            <span class="fw-light">Membership Chair</span> <br>
                            <strong>
                                Founder, GiveToGet
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/terri_bunting.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Terri Bunting</h4>
                        <p class="card-text">
                            <span class="fw-light">Operations Compliance Chair</span> <br>
                            <strong>
                                V.P., Managed Care at Help 4 Seniors
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/sgt_dawn_singleton.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">SGT Dawn Singleton</h4>
                        <p class="card-text">
                            <span class="fw-light">Board Secretary</span> <br>
                            <strong>
                                Cincinnati Police
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/tiffany_luckey.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Tiffany Luckey</h4>
                        <p class="card-text">
                            <span class="fw-light">Marketing & Media Chair</span> <br>
                            <strong>
                                Owner & Chief Creative Strategist, Ten21 Agency
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/grant_winkel.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Grant Winkel</h4>
                        <p class="card-text">
                            <span class="fw-light">Treasury Chair</span> <br>
                            <strong>
                                Consultant, Deloitte Consulting
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>