<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-7">
            <div class="col-lg-10 text-center">
                <h1 class="display-4">Our <span class="fw-bold">Impact</span></h1>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>