<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>

<body>

<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container-fluid my-5 py-5">
        <div class="row justify-content-center align-items-center mb-6">
            <div class="col-lg-12 text-center mb-3">
                <h1 class="display-4">Our <span class="fw-bold text-brown">Impact</span></h1>
            </div>
            <div class="col-md-2" id="sideArt">
                <img src="/assets/circle-designs.png" class="w-100" style="height: 100%;" alt="circle design">
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="row flex-row-reverse mb-4">
                    <div class="col-md-3 text-center mb-lg-0 mb-3">
                        <img src="/assets/renika_smiley_2.png" class="img-fluid" alt="CEO">
                        <h4 class="text-brown mb-2">Renika J. Smiley</h4>
                        <p class="text-muted">
                            Founder & CEO
                        </p>
                    </div>
                    <div class="col-md-9 mb-lg-0 mb-3">
                        <p class="text-muted">
                            Eight years ago I dreamed about this new idea for networking and growth. I was a young professional, career driven, and motivated.
                            Seeking professional and personal development and growth opportunities to enhance my skills. I was always on a journey to strive to
                            find the information necessary to help me excel. Always eager to adapt from my humble "working class" beginnings.
                        </p>
                        <p class="text-muted">
                            I was born into the generation of young professionals, raised by TV and technology. Access to these tools, lead to unlimited access to information.
                            The choice of how we use this information separates us by either achieving our goals or taking no action. We can transform our dream goals into real
                            achievements. As a child of athlete and coach, my father instilled the importance of practice and training. These developmental values built the genetic makeup
                            of the woman I have become today. Consistent practice and skills development also propel my career advancement.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <p class="text-muted">
                    It was leaders, like Hamilton County Commissioner Alicia Reece, who taught me the importance of networking. To increase my network to increase my net worth. With power of
                    networking, I opened doors early in my career. My network helped me launch Generation NOW Cincinnati Network seven years ago. Our LinkedIn Networking Happy Hour events were the start
                    of this amazing organization. These monthly events grew from a crowd of 50 to 300 young professionals. We highlight businesses across the country, locally and regionally. We land sponsorships
                    for with Cincy's top Fortunate 500 companies, such as P&G. We award young professionals for their career achievements.
                </p>
                <p class="text-muted">
                    Join our organization in our next strategic transition. From hosting events to offering training opportunities and education fo ryoung professionals. Our organization now provides access to resources through membership. We continue to plan and grow with the launch of longer cohort programs and courses.
                </p>
                <img src="/assets/signature.png" height="65" width="200" alt="signature">
            </div>
        </div>
        <div class="row justify-content-center mb-6 align-items-center d-flex mx-auto text-center">
            <div class="col-12">
                <img src="/assets/banner-middle.png" class="w-100" alt="line image" />
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>