<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center mb-6">
                <h1 class="display-4">Our <span class="fw-bold text-brown">Impact</span></h1>
            </div>
            <div class="col-3">
                <img src="/assets/circle-designs.png" class="h-100 w-100" alt="circle design">
            </div>
            <div class="col-9">
                <div class="row mb-4">
                    <div class="col-md-9 mb-lg-0 mb-3">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto enim eos, iure natus officiis perferendis ratione suscipit. Assumenda beatae consequatur delectus dolore ea enim expedita nostrum odio repellat voluptas?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ea esse hic molestias mollitia, nihil omnis recusandae! Dolorum ea error esse, eveniet facilis in iure libero, nihil quos vitae voluptates.
                        </p>
                    </div>
                    <div class="col-md-3 text-center mb-lg-0 mb-3">
                        <img src="/assets/renika_smiley_2.png" class="img-fluid" alt="CEO">
                        <h4 class="text-brown mb-2">Renika J. Smiley</h4>
                        <p class="text-muted">
                            Founder & CEO
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>