<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header class="mb-9">
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-10 mb-5 text-center">
                <h1 class="mb-3">Explore Our Programs</h1>
                <p>
                    Watch the latest webinars on YouTube, take an online course, or listen to the latest podcast. <br>
                    However you like to learn, we're here to help you succeed.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/awards-yellow.png" height="65px" width="65px" alt="awards">
                <p class="fw-bold mt-3 h4">Awards</p>
                <p class="text-muted">
                    We honor young professionals in the Cincinnati area.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/podcast.png" height="65px" width="65px" alt="podcast">
                <p class="fw-bold mt-3 h4">Podcast</p>
                <p class="text-muted">
                    They enlighten and entertain you with life stories, career advice, and
                    discussion on key topics.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/networking-blue.png" height="65px" width="65px" alt="networking">
                <p class="fw-bold mt-3 h4">Networking</p>
                <p class="text-muted">
                    To bring together diverse young professionals in Cincinnati, we host in-person and virtual events, such
                    as Advance NOW, Headshot Happy Hour, and YP Summit.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/advance.png" height="65px" width="65px" alt="advance">
                <p class="fw-bold mt-3 h4">Advance</p>
                <p class="text-muted">
                    An intense 12-week professional develoment program for Black women in Metro Cincinnati.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/online-courses.png" height="65px" width="65px" alt="awards">
                <p class="fw-bold mt-3 h4">Online Courses</p>
                <p class="text-muted">
                    Young professionals learn a range of skills that advance their careers. Our members enjoy them for free or at discounts.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/webinars.png" height="65px" width="65px" alt="podcast">
                <p class="fw-bold mt-3 h4">Live Webinars</p>
                <p class="text-muted">
                    Experts share skills and experiences. Past topics include skullduggery, trickery,
                    swindling, fraudulence, and more.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <img src="/assets/workshops-orange.png" height="65px" width="65px" alt="networking">
                <p class="fw-bold mt-3 h4">Workshops on Leadership</p>
                <p class="text-muted">
                    Learn to lift your career and succeed as a leader at our workshops, conducted by career & leadership
                    strategist Dr. Monique C. Johnson. Earn certificates of completion too.
                </p>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>