<footer style="background-color: #ffffff;">
    <hr class="my-4">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-2 col-md-6 mb-4">
                <img src="/assets/logo.png" height="45" width="45" alt="footer logo">
                <h5>Empower <strong>GENNOW</strong></h5>
                <p>Cincinnati Network</p>
            </div>
            <div class="col-lg-5 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Contact Us</h5>
                <p>
                    1776 Mentor Ave., Cincinnati, OH 45212
                </p>
                <p>
                    info@gennowcincy.org
                </p>
                <p>
                    (513) 237-1292
                </p>
            </div>
            <div class="col-lg-5 col-md-6 mb-4">
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-youtube"></i>
                </a>
                <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Subscribe</h5>
                <form action="">
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input type="email" id="form2Example1" class="form-control" />
                        <label class="form-label" for="form2Example1">Email address</label>
                    </div>
                    <button class="btn btn-brown">subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/mdb.umd.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>