<head>
    <meta charset="UTF-8">
    <title><%- locals.title -%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Search Engine -->
    <meta name="description" content="A Property Management Firm.">
    <meta name="image" content="/assets/logo.png">
    <link rel="apple-touch-icon" href="/assets/logo.png">
    <link rel="icon" href="/assets/logo.png" type="image/x-icon">
    <meta name="theme-color" content="#d3bba1">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Gen NOW">
    <meta itemprop="description" content="A Property Management Firm Providing Fresh Perspective & Community Empowerment.">
    <meta itemprop="image" content="/assets/logo.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Gen NOW">
    <meta property="og:description" content="A Property Management Firm Providing Fresh Perspective & Community Empowerment.">
    <meta property="og:image" content="/assets/logo.png">
    <meta property="og:url" content="https://gennow-4b4fc89a574b.herokuapp.com/src/public/assets/logo.png">
    <meta property="og:site_name" content="GenNOW">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/mdb.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>