<nav class="mb-lg-7 mb-10">
        <div class="navigation fixed-top">
            <div class="nav-container">
                <div class="brand">
                    <a href="/">
                        <img src="/assets/logo.png" style="height:55px!important; width:55px!important;" alt="logo" />
                    </a>
                </div>
                <nav>
                    <div class="nav-mobile">
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>
                    <ul class="nav-list">
                        <li>
                            <a href="#!">About</a>
                            <ul class="nav-dropdown">
                                <li><a href="/aboutUs">About Us</a></li>
                                <li><a href="/ourImpact">Our Impact</a></li>
                                <li><a href="/ourBoard">Board Of Directors</a></li>
                                <li><a href="/ourTeam">Meet The Team</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Programs</a>
                            <ul class="nav-dropdown">
                                <li><a href="#!">Our Programs</a></li>
                                <li><a href="#!">ADVANCE Workforce Division Program</a></li>
                                <li><a href="#!">Employer Spotlight Series</a></li>
                                <li><a href="#!">Empower GenNOW Awards</a></li>
                                <li>
                                    <a href="#!">Leadership Development Training</a>
                                </li>
                                <li>
                                    <a href="">Community Events</a>
                                </li>
                                <li>
                                    <a href="">Live Webinars</a>
                                </li>
                                <li>
                                    <a href="">Podcast & YouTube Series</a>
                                </li>
                                <li>
                                    <a href="">Online Courses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Get Involved</a>
                            <ul class="nav-dropdown">
                                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScrkKHGHwycxKy4Q0rx2r32tK4XRsEWbfTG9ESuJDDq2dcchA/viewform" target="_blank">Become A Guest Speaker</a></li>
                                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScgqEOnJrnUXvBR-2F5jFjkKZYjkj2EkVl2Rio80hmwg90GwA/viewform" target="_blank">Join Committee</a></li>
                                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScgqEOnJrnUXvBR-2F5jFjkKZYjkj2EkVl2Rio80hmwg90GwA/viewform" target="_blank">Become A Volunteer</a></li>
                                <li><a href="https://www.gofundme.com/f/general-donations-for-generation-now?member=19366961&utm_campaign=p_cp+share-sheet&utm_medium=copy_link_all&utm_source=customer" target="_blank">Make A Donation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Memberships</a>
                            <ul class="nav-dropdown">
                                <li><a href="#!">All Membership Plans</a></li>
                                <li><a href="#!">Individual Membership Plans</a></li>
                                <li><a href="#!">Corporate Membership Plans</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.gofundme.com/f/general-donations-for-generation-now?member=19366961&utm_campaign=p_cp+share-sheet&utm_medium=copy_link_all&utm_source=customer" target="_blank" class="btn btn-brown">Donate</a></li>
                        <% if(!loggedIn) { %>
                            <li>
                                <a href="/login" class="fw-bold">Login
                                    <i class="fas fa-right-to-bracket"></i>
                                </a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="#!">Users</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/dashboard">Dashboard</a></li>
                                    <li><a href="#!">User Profiles</a></li>
                                    <hr>
                                    <li><a href="/logout">Logout <i class="fas fa-right-from-bracket"></i></a>
                                    </li>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>