<nav class="mb-lg-7 mb-10">
        <section class="navigation fixed-top">
            <div class="nav-container">
                <div class="brand">
                    <a href="/">
                        <img src="/assets/logo.png" heigh="40" width="40" alt="logo" />
                    </a>
                </div>
                <nav>
                    <div class="nav-mobile">
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>
                    <ul class="nav-list">
                        <li>
                            <a href="#!">About</a>
                            <ul class="nav-dropdown">
                                <li><a href="/aboutUs">About Us</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Involvement</a>
                            <ul class="nav-dropdown">
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Programs</a>
                            <ul class="nav-dropdown">
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Memberships</a>
                            <ul class="nav-dropdown">
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                                <li><a href="#!">Link</a></li>
                            </ul>
                        </li>
                        <li><a href="#!" class="btn btn-brown">Donate</a></li>
                        <li>
                            <a href="#!" class="fw-bold">Login
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </nav>